.main {
  padding: 1em 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
  .main {
    max-width: 800px;
  }
}

@media (max-width: 600px) {
  .main {
    max-width: 550px;
  }
}
